.panel{
   width:86% !important;
    margin-top:'70px';
   background-color:"#ffffff";
   margin-right: 0 !important;
   margin-left: auto !important;
   justify-items: end;
   @media only screen and (max-width: 1024px){

  width:100% !important;

    }

}


.sidebarComponent{
    width: 14% !important;
    .menu{
        display: none;
      
    }
    @media only screen and (max-width: 1024px){

        width:0 !important;
        .menu{
            display: block !important;
            z-index: 200 !important;
        }
      
    }
         

}



.navbar{
    z-index:1 !important;
}