:root {
    --primary: #3B82F6;
    --secondary:#3667E9;
    }


.Tabs{
    display:flex;
    flex-direction: column;
    border-radius: 8px 8px 0 0;
    // background-color: white;
    width: 100%;
   
}

.tabList{
    display: flex;
    width:100%;
  

    .tabHead{
        padding:1rem 4rem;
        // border:1px solid white;
        cursor:pointer;
        border-radius: 8px 8px 0 0;
        @media only screen and (max-width: 600px){
        padding:0.5rem;
        }
    }
    .icons{
        visibility: invisible;
        @media only screen and (max-width: 600px){
            visibility: visible;
            padding:0.5rem 1rem;
            margin:0;
            display: block;
           

            }
    }

    .content{
        @media only screen and (min-width: 600px){
            visibility: visible;
            padding:0rem 1rem;
            margin:0;
            display: block;
           

            }
    }



.active{
    background: white;
    border-bottom:2px solid #3667E9;
    color:black;
    font-weight: 600;
}
}