:root {
    --primary: #3B82F6;
    --secondary:#3667E9;
    }


.Tabs{
    display:flex;
    flex-direction: column;
    border-radius: 8px 8px 0 0;
    // background-color: white;
    width: 100%;
}

.tabList{
    display: flex;
    width:100%;
    

    .tabHead{
        padding:1rem 4rem;
        // border:1px solid white;
        cursor:pointer;
        border-radius: 8px 8px 0 0;
    }

}

.active{
    background: white;
    border-bottom:2px solid #3667E9;
    color:black;
    font-weight: 600;
}