:root {
    --primary: #3B82F6;
    --secondary:#3667E9;
    }


.Tabs{
    display:flex;
    flex-direction: column;
    border-radius: 12px 12px 0 0;

    width: 60%;
}

.tabList{
    display: flex;
    
    

    .tabHead{
        padding:1.5rem 3rem;
        border:1px solid white;
        cursor:pointer;
        border-radius: 12px 12px 0 0;
    }

}

.active{
    background: var(--primary);
    color:white;
}